{% extends "layout.html" %}
{% block content %}
    <form action="/search_events" method="POST" id="searchApptsForm">
        <fieldset>
            <label><strong>First, please select the calendar you would like to search:</strong></label>
            <select name="calendarlist" value="choose a calendar" class="select-block span5">
                {% for calendar in calendar_list %}
                <option value="{{ calendar['id'] }} {{ calendar['timeZone'] }}">{{ calendar['summary'] }}</option>
                {% endfor %}
            </select>

            <label><strong>Then, give me some criteria to search by:</strong></label>
            <label>Someday Between:</label>
            <input id="apptStartDate" name="apptStartDate" type="date"></input>
            and 
            <input id="apptEndDate" name="apptEndDate" type="date"></input>

            <label>Appointment Start Time:</label>
            <input id="apptStartTime" name="apptStartTime" type="time"></input>

            <label>Appointment End Time:</label>
            <input id="apptEndTime" name="apptEndTime" type="time"></input>
            <br>
            <button id="submitApptSearch" type="submit" class="btn btn-large btn-primary">Find Time</button>
        </fieldset>
    </form>
    <p align="right">
        I'm done!
        <form align="right" action="/logout"><input class="btn" type="submit" value="Log me out."></form>
    </p>
{% endblock %}