{% extends "layout.html" %}
{% block content %}
    <form action="/schedule_event" method="POST" id="scheduleEventForm">
        <fieldset>
            <label>
                <strong>Here are some times you can schedule your appointment (choose one to schedule):</strong>
            </label>
            <select name="apptOptions" value="Choose a Time" class="select-block span4">
                {% for date in free_dates %}
                <option value="{{ date }}, {{ starttime }}, {{ endtime }}">{{ date }} from {{ starttime }} to {{ endtime }}</option>
                {% endfor %}
            </select>
            
            <label>Appointment Name:</label>
            <input id="apptName" name="apptName" type="text"></input>

            <label>Appointment Location:</label>
            <input id="apptLocation" name="apptLocation" type="text"></input>
            <br>
            <button id="submitNewAppt" type="submit" class="btn">Schedule Appointment!</button>
        </fieldset>
    </form>
{% endblock %}