{% extends "layout.html" %}
{% block content %}
    <p> Calendar: {{ calendarid }}</p>
    <form action="/schedule_event" method="POST" id="scheduleEventForm">
        <fieldset>
            <input id="apptCalendarId" name="apptCalendarId" type="hidden" value="{{ calendarid }}"></input>

            <label>Some available times (choose one to schedule):</label>
            <select name="apptOptions" class="select-block span4">
                {% for date in free_dates %}
                <option value="{{ date }} {{ starttime }} {{ endtime }}">{{ date }} from {{ starttime }} to {{ endtime }}</option>
                {% endfor %}
            </select>
            
            <label>Appointment Name:</label>
            <input id="apptName" name="apptName" type="text"></input>

            <label>Appointment Location:</label>
            <input id="apptLocation" name="apptLocation" type="text"></input>
            <br>
            <button id="submitNewAppt" type="submit" class="btn">Schedule Appointment!</button>
        </fieldset>
    </form>
{% endblock %}